<!-- your html code here -->
<div class="container-fluid bg-white">
    <div class="row d-flex flex-row justify-content-center mx-auto py-5">
        <div class="col-md-6 col-12 order-1">
            <div class="d-flex flex-column align-items-baseline">
                <div class="d-flex flex-row mr-5">
                    <h3 class="text-md-left text-center">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h3>
                    
                </div>
                <p class="texto-secundario">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae reiciendis quos aut illo aperiam harum et consequuntur quae autem ut soluta in labore laborum error, odit illum maiores voluptatibus id.</p>
            </div>
        </div>
        <div class="col-md-4 col-12 order-2 d-flex justify-content-start ml-3">
            <img src="./assets/img/1.jpg" alt="..." class="img-thumbnail rounded-circle img-fluid">
        </div>

    </div>
</div>

</div>
