    <div class="container-fluid px-5 pt-md-5">
        <h2 class="tercer-heading"> Porfolio </h2>
        <p class="text-justify texto-secundario"> Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Similique
            eaque eos impedit
            doloremque a quidem quaerat adipisci sint beatae et esse henderit pariatur, dolores incidunt veritatis
            quisquam quasi. Deleniti, sit!</p>
        <div class="card-deck">
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
                <div class="card-body p-0">
                    <h4 class="card-title mt-2 text-primary">Project Name</h4>
                    <p class="card-text text-justify">Lorem ipsum dolor sit, amet consectetur icing elit. Laboriosam
                        animi
                        aliquid provident beatae soluta placeat in.</p>
                </div>
            </div>
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap"
                    alt="Card image cap">
                <div class="card-body p-0">
                    <h4 class="card-title mt-2 text-primary">Project Name</h4>
                    <p class="card-text text-justify">Lorem ipsum dolor sit, amet consectetur icing elit. Laboriosam
                        animi
                        aliquid provident beatae soluta placeat in.
                    </p>
                </div>
            </div>
            <div class="card border-0">
                <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap"
                    alt="Card image cap">
                <div class="card-body p-0">
                    <h4 class="card-title mt-2 text-primary">Project Name</h4>
                    <p class="card-text text-justify">Lorem ipsum dolor sit, amet consectetur icing elit. Laboriosam
                        animi
                        aliquid provident beatae soluta placeat in.</p>
                </div>
            </div>
        </div>
    </div>