<div class="container p-5 d-md-flex">
    <div>
        <div class="card border-0 rounded-circle mx-auto mx-md-1" style="width: 15rem;">
            <img class="card-img-top rounded-circle img-fluid" src="./assets/img/2.jpg" alt="Card image cap">
        </div>
    </div>

    <div>
        <h1 class="mb-2 text-md-left text-center">The second heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
        <p class="texto-secundario text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Deserunt delectus perspiciatis quas expedita dolorum esse aspernatur facilis nam quidem a tempora
            recusandae explicabo at possimus, culpa corporis, unde accusamus distinctio.</p>
    </div>
</div>